<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand editable-business-name" href="#">
      <%- content.business_name %>
    </a>

    <!-- Collapse button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#basicExampleNav"
      aria-controls="basicExampleNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <!-- Links -->
      <ul class="smooth-scroll navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#intro">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#nos-valeurs">Nos valeurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#clients">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/book">Prendre un rendez-vous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contactez nous</a>
        </li>
      </ul>
      <!-- /Links -->

      <!-- Social Icon  -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
      <!-- Social Icon  -->
    </div>
    <!-- Collapsible content -->
  </div>
</nav>
<!--/.Navbar-->
