<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/head.ejs') -%> <%- include
    ('partials/book_stylesheets.ejs') -%>
  </head>
  <body>
    <header>
      <%- include ('partials/book_navbar.ejs') -%>
    </header>
  </body>
</html>
